{#
/**
 * @file
 * Default theme implementation to display custom actions links.
 *
 * Available variables:
 * - links: A list of menu_action_links
 *
 * @see core/modules/system/templates/menu-local-action.html.twig
 *
 * @ingroup themeable
 */
#}
{% if links is not empty %}
  <ul class="action-links">
    {{ links }}
  </ul>
{% endif %}
